
.select {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #000000;
        text-decoration: none;
        background-color: #FFFFFF
	}
.lnkcon  {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-variant: normal;
        color: #000000;
        text-decoration: none
	}
.ligaconte {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	font-weight: normal; 
	color: #000000; 
	text-decoration: underline
	}
.ligaconte:hover {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	font-weight: normal; 
	color: #0000FF; 
	text-decoration: none
	}p {  font-family: "Century Gothic"; font-size: 10pt; color: #990033}
.normal {  font-family: "Century Gothic"; font-size: 10pt; color: #990033}
.titulosp {  font-family: "Century Gothic"; font-size: 14pt; color: #990033; font-weight: bold}
