p{
  text-align:justify;
  color:black;
  font: inherit;
  font-size:18px;
  padding: 16px 32px;

}

h1{
  text-align:center;
  color:dodgerblue;
  font: inherit;
  font-size:40px;
}

.img_menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 170px;
  border: 2px solid black;
}

.button{
  display: block;
  align-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  padding: 16px 32px;
  font-size: 20px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  font: inherit;
  display: table;
  margin: 0 auto
}

.button:hover{
  color: white;
  font-size: 20px; 
  border-color: #91C4FE;
  background-color: #3A8AE6;
  box-shadow: 0 0 4px 0 #3498db inset, 0 0 4px 0px #3498db
}

.button:focus{
  color: black; 
  background-color: white;
}

h2{
  text-align:center;
  color:black;
  font-size:25px;
}

h3{
  text-align:center;
  color:black;
  font-size:20px;
}

#casosHospitalizados {
 background-color: powderblue;
 border-radius: 8px;
 width: 1000px;
 border: 5px solid dodgerblue;
 padding: 25px;
 margin: 0;
 color: black;
 font-size: 18px; 
 display: table;
 margin: 0 auto
}

.row {
  display: flex;
}

.column {
  float: left;
  flex: 50%;
  padding: 15px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

li{
  color:black;
}