p{
  text-align:justify;
  color:black;
  font: inherit;
  font-size:15px;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;

}

h1{
  text-align:center;
  color:dodgerblue;
  font: inherit;
  font-size:40px;
}

h2{
  text-align:center;
  color:black;
  font-size:25px;
}

h3{
  text-align:center;
  color:black;
  font-size:20px;
}

h5{
  text-align: center;
}

.img_menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 170px;
  border: 2px solid black;
}

.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 170px;
}

.button{
  display: block;
  align-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  padding: 16px 32px;
  font-size: 20px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  font: inherit;
  display: table;
  margin: 0 auto
}

.button:hover{
  color: white;
  font-size: 20px;
  transition-duration: 0.2s; 
  border-color: #91C4FE;
  background-color: #3A8AE6;
  box-shadow: 0 0 4px 0 #3498db inset, 0 0 4px 0px #3498db
}

.button:focus{
  color: black; 
  background-color: white;
}

#casosHospitalizados {
 background-color: powderblue;
 border-radius: 8px;
 width: 1000px;
 border: 5px solid dodgerblue;
 padding: 25px;
 margin: 0;
 color: black;
 font-size: 18px; 
 display: table;
 margin: 0 auto
}

.row {
  display: flex;
}

.column {
  float: left;
  flex: 50%;
  padding: 15px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

li{
  color:black;
}

.card-img-top{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 8px;
}

.cardelement{
  max-width: 75rem;
  border-width: 2px;
  border-radius: 4px;
  background-color: #D4E8FF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #008CBA;
}

.card-title{
  color: black;
}

.button_quiz {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  border-color: #91C4FE;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #91C4FE;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;

  display: table;
  margin: 0 auto
}
.button_quiz:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: #3498db;
}
