html {
	text-align: center;
	font-size: 12px;
}

p {
	font-size: 1.25rem;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Para que las columnas se hagan una en caso de que se redimensione el navegador */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Esta clase es para las palabras que tengan definición en el glosario y aparezcan en algún tema del curso */
.definicion {
	text-decoration: underline dotted;
	background-color: #F7DAB5;
	/* Poner propiedades de que la underline sea dotted, quizá color de texto diferente */
}

.definicion:hover {
	background-color: #F7B55E;
}

/* Esta clase es para las info boxes que aparecen de vez en cuando en el curso (como la que está en 1-4) */
.info-box {
	/* Poner propiedades de borders, background color, centrado */
	background-color: lightblue;
	color: black;
	padding: 1em;
	border: 0.25rem dashed #32a1ce;
	margin: 1em;
}

/* Para cosas como la de 1-4 donde se enfatiza algo */
span.importante {
	/* Poner propiedades de color de texto, bordes, background color, centrado */
	color: black;
	border: solid blue;
	border-radius: 12px;
	padding: 0.5em;
	background-color: lightgreen;
}

p.importante {
	text-align: center;
	margin: 2rem;
}


/*/////////////////////////// */

* {
  box-sizing: border-box;
}


/* Para trer columnas */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* depurar floats después de las columnas */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Para que las columnas se hagan una en caso de que se redimensione el navegador */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*/////////////////////////// */

/* Para los minijuegos como el de 1-9 */
.minijuego {
	/* Poner propiedades como las de info-box pero diferentes algunas??? */
	background-color: lightblue;
	color: black;
	padding: 1rem;
	border: 0.25rem dashed #32a1ce;
	margin: 1.5rem;
}

/* Para las flechas de regresar de los cursos */
.navflecha-r {
	/* Poner propiedades de background, imagen de flecha, color de texto */
	font-size: 17px;
	text-align: center;
	background-color: #74FC86;
	padding: 0.5rem;
	border: thin solid;
	text-decoration: none;
	border-radius: 10px;
	display: block;
	float: left;
	margin-left: 4rem;
}

/* Para las flechas de siguiente de los cursos */
.navflecha-s {
	/* Poner propiedades de background, imagen de flecha, color de texto*/
	font-size: 17px;
	text-align: center;
	background-color: #74FC86;
	padding: 0.5rem;
	border: thin solid;
	text-decoration: none;
	border-radius: 10px;
	display: block;
	float: right;
	margin-right: 4rem;
}

p, ol, li, ul {
	color: black;
    text-align: left;
}

.main-content {
         padding-left: 0px;
}

/* Estilo para tables */
table {
	border-collapse: collapse;
	width: 75%;
	background-color: #87FC7A;
	margin: 1rem auto 1rem auto;
	color: black;
}

td {
	border: 0.25rem solid #538FDE;
}

.minijuego p {
	text-align: center;
}

/* Border distinto para los table headers */
th {
	border: groove #538FDE;
}

/* Animación para el feedback de los radio buttons */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Estilo para el feedback de los radio buttons */
.feedback {
	-webkit-animation: fadein 1s ease-in;
	background-color: yellow;
	border: 0.3rem outset purple;
	text-align: center;
}

/* Para las listas de los glosarios */
dl {
	color: black;
	text-align: left;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 1rem;
}

/* Para centrar las imágenes */
img {
	display: block;
	margin: 0 auto;
}

/* Para poner imágenes en columnas de tres*/
.container3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

/* Para poner imágenes en columnas de dos */
.container2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

/* Centrar el texto en containers de 3 columnas */
.container3 p {
	text-align: center;
}

/* Centrar el texto en containers de 3 columnas */
.container2 p {
	text-align: center;
}

.container4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
}

.container4 p {
	text-align: center;
}
