.fa-arrow-right{
    font-size: 30px;
    margin-bottom: 5px;
    float: right;
}

.fa-arrow-left{
    font-size: 30px;
    float: left;
}

.fa-sticky-note{
    font-size: 30px;
}

a{
    color: #0f9aee;
}

.btn-primary{
    background-color: #0f9aee;
}

.card-img-top{
    width: 100%;
    height: 20vw;
}

