.check-card {
    padding: 0;
    margin: 2px;
    border-width: 0;
}

.check-card.card-text{
    color: black ;
}

.check-card:hover{
    background-color: dodgerblue;
    color: white;
}

:checked + .check-card{
    border-color: dodgerblue;
    border-width: 8px; 
    background-color: dodgerblue;
    color: white;
}

.c-select {
    background-color: white;
    color: rgb(169, 169, 169);
    border-color: rgb(169, 169, 169);
}

.c-select:focus:hover {
    background-color: red;
}

.ans-card {
    font-weight: bold;
    color: white !important;
}

.grade-card {
    padding: 10px;
}

.check-img-container {
    margin:auto;
    padding-left: 7vw;
}

.correct-pop .popover-body {
    color: white;

}

.correct-pop .popover-header {
    background-color: #28a745 !important;
    color: white;
    font-weight: bold;
}

.correct-pop .arrow::after {
    border-right-color: #37c936;
}

.incorrect-pop .popover-body {
    color: white;
}

.incorrect-pop .popover-header {
    background-color: #dc3545 !important;
    color: white;
    font-weight: bold;
}

.incorrect-pop .arrow::after {
    border-right-color: #ff3c7e;
}

.question {
    display:inline-block;
    max-width: 90%;
    padding-right:50px;
}
